.bold-label {
  font-weight: bold;
}

.blue {
  color: @theme_selected_bg_color;
}

.dark-bg {
  background-color: @theme_bg_color;
}

.round-button {
  border-radius: 9999px;
  padding: 12px;
  min-width: 18px;
  min-height: 18px;
}

.small-icon {
  padding: 3px;
  border-radius: 10px;
}

.flat {
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 0;
}


/* Main Window */

.messages-view {
  background-color: @theme_base_color;
}

.dialogs-view {
  background-color: @theme_bg_color;
}



/* Dialog Row */

.online-status {
  -gtk-icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  color: @theme_selected_bg_color;
  margin: 2px;
}

.unread-badge {
  background-color: @theme_selected_bg_color;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 10px;
  min-width: 0.7em;
  padding: 2px 5px;
}

.muted-badge {
  background-color: @insensitive_fg_color;
  color: @theme_bg_color;
}

.mention-status {
  background-color: @theme_selected_bg_color;
  color: white;
}



/* Message Row */

.message-bubble {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 9px;
  padding: 6px 9px 6px 9px;
  transition: 150ms ease-in-out;
}

.message-bubble.first {
  margin-top: 3px;
}

.message-bubble.last {
  margin-bottom: 3px;
}

row:selected .message-bubble{
  border: 1px solid @theme_selected_bg_color;
}

.message-in {
  border: 1px solid alpha(@theme_fg_color, 0.1);
  background-color: alpha(@theme_bg_color, 0.9);
  margin-right: 24px;
}

.message-out {
  border: 1px solid alpha(@theme_selected_bg_color, 0.2);
  background-color: alpha(@theme_selected_bg_color, 0.2);
  margin-left: 72px;
}

.message-in *:link,
.message-out *:link {
  color: @theme_fg_color;
}

.message-action {
  box-shadow: none;
  font-size: 0.8em;
  color: @insensitive_fg_color;
}

row:selected .message-action{
  border: none;
}

.message-mention {
  border-left: 2px solid @theme_selected_bg_color;
  color: @insensitive_fg_color;
  padding-right: 9px;
  padding-left: 6px;
}



/* Messages Listbox */

.messages-listbox {
  background-color: transparent;
}

.messages-listbox row {
  box-shadow: none;
  background: none;
  padding: 1px;
}
