/* Message Row */

.message-bubble {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 9px;
  padding: 6px 9px 6px 9px;
}

.message-in {
  border: 1px solid alpha(@theme_fg_color, 0.1);
  background-color: @theme_bg_color;
  margin-right: 108px;
}

.message-in selection {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

.message-out {
  border: 1px solid alpha(@theme_selected_bg_color, 0.2);
  background-color: alpha(@theme_selected_bg_color, 0.2);
  margin-left: 108px;
}

.message-out selection {
  background-color: @theme_selected_fg_color;
  color: @theme_selected_bg_color;
}

.message-in *:link,
.message-out *:link {
  color: @theme_fg_color;
}

.message-status {
  color: @theme_selected_bg_color;
}

row:selected .message-status {
  color: white;
}

.message-action {
  box-shadow: none;
  border-radius: 0;
  font-size: 12px;
  color: @insensitive_fg_color;
}



/* Messages Listbox */

row:active .message-in,
row:selected .message-in,
row:active .message-out,
row:selected .message-out {
  background-color: @theme_selected_bg_color;
  transition: 200ms ease-in-out;
}

.message-box,
.message-box row:selected,
.message-box row:hover {
  background-color: transparent;
  box-shadow: none;
}



/* Meowgram Window */

.message-view viewport {
  background-color: @theme_base_color;
}

.contacts-view {
  background-color: @theme_bg_color;
}

.header-dropdown {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    border-top-style: none;
    border-bottom-style: none;
    font-weight: 700;
}



/* Contact Row */

.unread-badge {
  background-color: @theme_selected_bg_color;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 10px;
  min-width: 0.7em;
  padding: 2px 5px;
}

row:selected .unread-badge {
  background-color: white;
  color: @theme_selected_bg_color;
}

.muted-badge {
  background-color: #bfbfbf;
  color: @theme_bg_color;
}



/* General Classes */

.bold-label {
  font-weight: bold;
}

.time-label {
  font-size: 12px;
}

.dark-bg {
  background-color: @theme_bg_color;
}
